.upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .show-all-car-button,
  .search-bar,
  .add-car-button {
    flex: 1;
    margin-right: 10px; /* Adjust as needed */
  }
  